    {{!-- <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form> --}}

<div class="page-header">
    <div class="container">
        <h1>Create an Account</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
    
    <div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="heading">
							<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
						</div><!-- End .heading -->

						<form  id="signup" name="signup" method="post" action="/signup">
							<input type="text" class="form-control" placeholder="First Name" required>
							<input type="text" class="form-control" placeholder="Middle Name" required>
							<input type="text" class="form-control" placeholder="Last Name" required>

							<h2 class="title mb-2">Login information</h2>
							<input type="email" class="form-control" placeholder="Email Address" required>
							<input type="password" class="form-control" placeholder="Password" required>
							<input type="password" class="form-control" placeholder="Confirm Password" required>

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="newsletter-signup">
								<label class="custom-control-label" for="newsletter-signup">Sing up our Newsletter</label>
							</div><!-- End .custom-checkbox -->

							<div class="form-footer">
								<button type="submit" class="btn btn-primary">Create Account</button>
							</div><!-- End .form-footer -->
						</form>
					</div><!-- End .col-md-6 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
            <div class="mb-5"></div><!-- margin -->