
<div class="banners-section">
				<div class="container">
					<h2 class="subtitle text-center"><span>BROWSE OUR CATEGORIES</span></h2>
					<div class="cats-carousel owl-carousel owl-theme">
						<div class="banner banner-image">
							{{!-- product men section --}}
							<a href="/shop/product-men">
								<img src="/images/banners/cats/banner-1.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							{{!-- product women section --}}
							<a href="/shop/product-women">
								<img src="/images/banners/cats/banner-2.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							{{!-- product kids section --}}
							<a href="/shop/product-kids">
								<img src="/images/banners/cats/banner-3.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-4.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						{{!-- <div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-2.jpg" alt="banner">
							</a>
						</div><!-- End .banner --> --}}
					</div><!-- End .cat-carousel -->
				</div><!-- End .container -->
			</div><!-- End .banners-section -->