<aside class="sidebar col-lg-3">
						<div class="widget widget-dashboard">
							<h3 class="widget-title">My Account</h3>

							<ul class="list">
								<li class="active"><a href="/dashboard">Account Dashboard</a></li>
								<li><a href="/admin/account-information">Account Information</a></li>
								<li><a href="#">Address Book</a></li>
								<li><a href="/admin/my-orders">My Orders</a></li>
								<li><a href="#">Newsletter Subscriptions</a></li>
							<br>
								<h3 class="widget-title">My Shop</h3>

								<li><a href="/shop/add-product">Add new product</a></li>
								<li><a href="#">Edit existing product</a></li>
							</ul>
						</div><!-- End .widget -->
					</aside><!-- End .col-lg-3 -->