<div class="container">
	<h2 class="subtitle">
		<span>Featured Products</span>
	</h2>

	<div class="featured-products owl-carousel owl-theme owl-nav-top">
		<div class="product">
			{{#each Product as |product|}}
			<figure class="product-image-container" data-id={{product.id}}>
				<a href="/shop/product" class="product-image">
					<img src={{product.imageUrl}} alt="product">
				</a>
				<a href="/ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
			</figure>
			<div class="product-details">

				<h2 class="product-title">
					<a href="/shop/product">{{product.title}}</a>
				</h2>
				<div class="price-box">
					<span class="product-price">{{product.price}}</span>
				</div><!-- End .price-box -->

				<div class="product-action">

					<a href="/shop/product" class="paction add-cart" title="Add to Cart">
						<span>Add to Cart</span>
					</a>
{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>