<footer class="footer">
			<div class="footer-middle">
				<div class="container">
					<div class="footer-ribbon">
		                Get in touch
		            </div><!-- End .footer-ribbon -->
					<div class="row">
						<div class="col-lg-8">
							<div class="row">
								<div class="col-md-6">
									<div class="widget">
										<ul class="contact-info">
											<li>
												<span class="contact-info-label">Address:</span>PO Box 743 Cypress, TX 77429
											</li>
											<li>
												<span class="contact-info-label">Phone:</span>Toll Free <a href="tel:">(832) 370-7322</a>
											</li>
											<li>
												<span class="contact-info-label">Email:</span> <a href="mailto:mail@example.com">mail@example.com</a>
											</li>
											<li>
												<span class="contact-info-label">Working Days/Hours:</span>
												Mon - Sun / 9:00AM - 8:00PM
											</li>
										</ul>
									</div><!-- End .widget -->
								</div><!-- End .col-md-5 -->
								<div class="col-md-3">
									<div class="widget">
										<h4 class="widget-title">My Account</h4>

										<ul class="links">
											<li><a href="#">About Us</a></li>
											<li><a href="#">Contact Us</a></li>
											<li><a href="#">My Account</a></li>
											<li><a href="#">Advanced Search</a></li>
											<li><a href="#" class="login-link">Login</a></li>
										</ul>
									</div><!-- End .widget -->
								</div><!-- End .col-md-3 -->
							</div><!-- End .row -->
						</div><!-- End .col-lg-8 -->

						<div class="col-lg-4">
							<div class="widget widget-newsletter">
								<h4 class="widget-title">Subscribe newsletter</h4>
								<p>Get all the latest information on Events,Sales and Offers. Sign up for newsletter today</p>
								<form action="#">
									<input type="email" class="form-control" placeholder="Email address" required>

									<input type="submit" class="btn" value="Subscribe">
								</form>
							</div><!-- End .widget -->
						</div><!-- End .col-lg-4 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .footer-middle -->

			<div class="container">
				<div class="footer-bottom">
					<p class="footer-copyright">Boots-N-Stuff &copy;  2018.  All Rights Reserved</p>
					<img src="/images/payments.png" alt="payment methods" class="footer-payments">

					<div class="social-icons">
						<a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
						<a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
						<a href="#" class="social-icon" target="_blank"><i class="icon-linkedin"></i></a>
					</div><!-- End .social-icons -->
				</div><!-- End .footer-bottom -->
			</div><!-- End .containr -->
		</footer><!-- End .footer -->