<div class="col-lg-8">
						<div class="cart-table-container">
							<table class="table table-cart">
								<thead>
									<tr>
										<th class="product-col">Product</th>
										<th class="price-col">Price</th>
										<th class="qty-col">Qty</th>
										<th>Subtotal</th>
									</tr>
								</thead>
								<tbody>
									<tr class="product-row">
										<td class="product-col">
											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img src="/images/products/product-4.jpg" alt="product">
												</a>
											</figure>
											<h2 class="product-title">
												<a href="product.html">Men Watch</a>
											</h2>
										</td>
										<td>$17.90</td>
										<td>
											<input class="vertical-quantity form-control" type="text">
										</td>
										<td>$17.90</td>
									</tr>
									<tr class="product-action-row">
										<td colspan="4" class="clearfix">
											<div class="float-left">
												<a href="#" class="btn-move">Move to Wishlist</a>
											</div><!-- End .float-left -->
											
											<div class="float-right">
												<a href="#" title="Edit product" class="btn-edit"><span class="sr-only">Edit</span><i class="icon-pencil"></i></a>
												<a href="#" title="Remove product" class="btn-remove"><span class="sr-only">Remove</span></a>
											</div><!-- End .float-right -->
										</td>
									</tr>

									<tr class="product-row">
										<td class="product-col">
											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img src="/images/products/product-3.jpg" alt="product">
												</a>
											</figure>
											<h2 class="product-title">
												<a href="product.html">Men Watch-Black</a>
											</h2>
										</td>
										<td>$8.90</td>
										<td>
                                            <input class="vertical-quantity form-control" type="text">
                                        </td>
										<td>$8.90</td>
									</tr>
									<tr class="product-action-row">
										<td colspan="4" class="clearfix">
											<div class="float-left">
												<a href="#" class="btn-move">Move to Wishlist</a>
											</div><!-- End .float-left -->
											
											<div class="float-right">
												<a href="#" title="Edit product" class="btn-edit"><span class="sr-only">Edit</span><i class="icon-pencil"></i></a>
												<a href="#" title="Remove product" class="btn-remove"><span class="sr-only">Remove</span></a>
											</div><!-- End .float-right -->
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-8 -->