<main class="main">
			<div class="home-top-container">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="banner banner-image">
								<a href="#">
									<img src="/images/banners/banner-1.jpg" alt="banner">
								</a>
							</div><!-- End .banner -->
						</div><!-- End .col-lg-5 -->

						<div class="col-lg-7 top-banners">
							<div class="row">
								<div class="col-sm-6">
									<div class="banner banner-image">
										<a href="#">
											<img src="/images/banners/banner-2.jpg" alt="banner">
										</a>
									</div><!-- End .banner -->

									<div class="banner banner-image">
										<a href="#">
											<img src="/images/banners/banner-3.jpg" alt="banner">
										</a>
									</div><!-- End .banner -->
								</div><!-- End .col-sm-6 -->
								<div class="col-sm-6">
									<div class="banner banner-image">
										<a href="#">
											<img src="/images/banners/banner-4.jpg" alt="banner">
										</a>
									</div><!-- End .banner -->
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->
						</div><!-- End .col-lg-7 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .home-top-container -->

			<div class="container">
				<h2 class="subtitle">
					<span>Featured Products</span>
				</h2>
				
				<div class="featured-products owl-carousel owl-theme owl-nav-top">
					<div class="product">
						<figure class="product-image-container">
							<a href="product.html" class="product-image">
								<img src="/images/products/product-2.jpg" alt="product">
							</a>
							<a href="/ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
						</figure>
						<div class="product-details">
							<div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
							<h2 class="product-title">
								<a href="product.html">Headphone</a>
							</h2>
							<div class="price-box">
								<span class="product-price">$320.00</span>
							</div><!-- End .price-box -->

							<div class="product-action">
								<a href="#" class="paction add-wishlist" title="Add to Wishlist">
									<span>Add to Wishlist</span>
								</a>

								<a href="product.html" class="paction add-cart" title="Add to Cart">
									<span>Add to Cart</span>
								</a>

								<a href="#" class="paction add-compare" title="Add to Compare">
									<span>Add to Compare</span>
								</a>
							</div><!-- End .product-action -->
						</div><!-- End .product-details -->
					</div><!-- End .product -->

					<div class="product">
						<figure class="product-image-container">
							<a href="product.html" class="product-image">
								<img src="/images/products/product-1.jpg" alt="product">
							</a>
							<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
						</figure>
						<div class="product-details">
							<div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
							<h2 class="product-title">
								<a href="product.html">Sunglasses</a>
							</h2>
							<div class="price-box">
								<span class="product-price">$39.00</span>
							</div><!-- End .price-box -->

							<div class="product-action">
								<a href="#" class="paction add-wishlist" title="Add to Wishlist">
									<span>Add to Wishlist</span>
								</a>

								<a href="product.html" class="paction add-cart" title="Add to Cart">
									<span>Add to Cart</span>
								</a>

								<a href="#" class="paction add-compare" title="Add to Compare">
									<span>Add to Compare</span>
								</a>
							</div><!-- End .product-action -->
						</div><!-- End .product-details -->
					</div><!-- End .product -->

					<div class="product">
						<figure class="product-image-container">
							<a href="product.html" class="product-image">
								<img src="/images/products/product-4.jpg" alt="product">
							</a>
							<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
						</figure>
						<div class="product-details">
							<div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:50%"></span><!-- End .ratings -->
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
							<h2 class="product-title">
								<a href="product.html">Winter Hat</a>
							</h2>
							<div class="price-box">
								<span class="product-price">$30.00</span>
							</div><!-- End .price-box -->

							<div class="product-action">
								<a href="#" class="paction add-wishlist" title="Add to Wishlist">
									<span>Add to Wishlist</span>
								</a>

								<a href="product.html" class="paction add-cart" title="Add to Cart">
									<span>Add to Cart</span>
								</a>

								<a href="#" class="paction add-compare" title="Add to Compare">
									<span>Add to Compare</span>
								</a>
							</div><!-- End .product-action -->
						</div><!-- End .product-details -->
					</div><!-- End .product -->

					<div class="product">
						<figure class="product-image-container">
							<a href="product.html" class="product-image">
								<img src="/images/products/product-6.jpg" alt="product">
							</a>
							<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
						</figure>
						<div class="product-details">
							<div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
							<h2 class="product-title">
								<a href="product.html">Leather Boots</a>
							</h2>
							<div class="price-box">
								<span class="product-price">$45.00</span>
							</div><!-- End .price-box -->

							<div class="product-action">
								<a href="#" class="paction add-wishlist" title="Add to Wishlist">
									<span>Add to Wishlist</span>
								</a>

								<a href="product.html" class="paction add-cart" title="Add to Cart">
									<span>Add to Cart</span>
								</a>

								<a href="#" class="paction add-compare" title="Add to Compare">
									<span>Add to Compare</span>
								</a>
							</div><!-- End .product-action -->
						</div><!-- End .product-details -->
					</div><!-- End .product -->

					<div class="product">
						<figure class="product-image-container">
							<a href="product.html" class="product-image">
								<img src="/images/products/product-8.jpg" alt="product">
							</a>
							<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
						</figure>
						<div class="product-details">
							<div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
							<h2 class="product-title">
								<a href="product.html">Headphone</a>
							</h2>
							<div class="price-box">
								<span class="product-price">$320.00</span>
							</div><!-- End .price-box -->

							<div class="product-action">
								<a href="#" class="paction add-wishlist" title="Add to Wishlist">
									<span>Add to Wishlist</span>
								</a>

								<a href="product.html" class="paction add-cart" title="Add to Cart">
									<span>Add to Cart</span>
								</a>

								<a href="#" class="paction add-compare" title="Add to Compare">
									<span>Add to Compare</span>
								</a>
							</div><!-- End .product-action -->
						</div><!-- End .product-details -->
					</div><!-- End .product -->
				</div><!-- End .featured-products -->
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->

			<div class="banners-section">
				<div class="container">
					<h2 class="subtitle text-center"><span>BROWSE OUR CATEGORIES</span></h2>
					<div class="cats-carousel owl-carousel owl-theme">
						<div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-1.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-2.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-3.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-4.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->

						<div class="banner banner-image">
							<a href="#">
								<img src="/images/banners/cats/banner-2.jpg" alt="banner">
							</a>
						</div><!-- End .banner -->
					</div><!-- End .cat-carousel -->
				</div><!-- End .container -->
			</div><!-- End .banners-section -->

			<div class="mb-5"></div><!-- margin -->

			<div class="container arrived-products">
				<h2 class="subtitle">
					<span>Just Arrived</span>
				</h2>

				<div class="row">
					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-1.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">

									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Headphone</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$28.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-2.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								<span class="product-label label-sale">-20%</span>
								<span class="product-label label-hot">New</span>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Computer Mouse</a>
								</h2>
								<div class="price-box">
									<span class="old-price">$60.00</span>
									<span class="product-price">$48.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-3.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>

									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:60%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Laptop</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$850.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-4.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>

									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:40%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Camera</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$299.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-5.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:50%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Shoes</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$79.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-6.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								<span class="product-label label-hot">Hot</span>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:40%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Sunglasses</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$19.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-7.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								<span class="product-label label-hot">Hot</span>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Jackets</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$299.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-8.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Hat</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$299.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-9.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:70%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Pants</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$59.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-10.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:40%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Shoes</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$63.00</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-11.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:40%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Necklace</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$13.99</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->

					<div class="col-6 col-md-4 col-lg-3 col-xl-2">
						<div class="product product-overlay">
							<figure class="product-image-container">
								<a href="product.html" class="product-image">
									<img src="/images/products/product-12.jpg" alt="product">
								</a>
								<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								<span class="product-label label-hot">Hot</span>

								<div class="product-action">
									
									<a href="product.html" class="paction add-cart" title="Add to Cart">
										<span>Add to Cart</span>
									</a>
									<a href="#" class="paction add-wishlist" title="Add to Wishlist">
										<span>Add to Wishlist</span>
									</a>

									<a href="#" class="paction add-compare" title="Add to Compare">
										<span>Add to Compare</span>
									</a>
								</div><!-- End .product-action -->
							</figure>
							<div class="product-details">
								<div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
								<h2 class="product-title">
									<a href="product.html">Socks</a>
								</h2>
								<div class="price-box">
									<span class="product-price">$4.99</span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div><!-- End .product -->
					</div><!-- End .col-xl-2 -->
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->
		

			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h2 class="subtitle">
							<span>Latest Blog Posts</span>
						</h2>

						<div class="blog-slider owl-carousel owl-theme">
						<article class="entry">
							<div class="entry-media">
								<a href="single.html">
									<img src="/images/blog/home/post-1.jpg" alt="Post">
								</a>
								<div class="entry-date">29<span>Now</span></div><!-- End .entry-date -->
							</div><!-- End .entry-media -->

							<div class="entry-body">
								<h3 class="entry-title">
					                <a href="single.html">Fashion News</a>
					            </h3>
					            <div class="entry-content">
					            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>

					            	<a href="single.html" class="btn">Read More</a>
					            </div><!-- End .entry-content -->
							</div><!-- End .entry-body -->
						</article><!-- End .entry -->

						<article class="entry">
							<div class="entry-media">
								<a href="single.html">
									<img src="/images/blog/home/post-2.jpg" alt="Post">
								</a>
								<div class="entry-date">30 <span>Now</span></div><!-- End .entry-date -->
							</div><!-- End .entry-media -->

							<div class="entry-body">
								<h3 class="entry-title">
					                <a href="single.html">Fashion Trends</a>
					            </h3>
					            <div class="entry-content">
					            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>

					            	<a href="single.html" class="btn">Read More</a>
					            </div><!-- End .entry-content -->
							</div><!-- End .entry-body -->
						</article><!-- End .entry -->

						<article class="entry">
							<div class="entry-media">
								<a href="single.html">
									<img src="/images/blog/home/post-1.jpg" alt="Post">
								</a>
								<div class="entry-date">28 <span>Now</span></div><!-- End .entry-date -->
							</div><!-- End .entry-media -->

							<div class="entry-body">
								<h3 class="entry-title">
					                <a href="single.html">Women Fashion</a>
					            </h3>
					            <div class="entry-content">
					            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>

					            	<a href="single.html" class="btn">Read More</a>
					            </div><!-- End .entry-content -->
							</div><!-- End .entry-body -->
						</article><!-- End .entry -->
					</div><!-- End .blog-carousel -->
					</div><!-- End .col-lg-6 -->

					<div class="col-lg-6">
						<h2 class="subtitle">
							<span>WHAT CLIENT'S SAY</span>
						</h2>

						<div class="testimonials-slider owl-carousel owl-theme">
							<div class="testimonial">
								<div class="testimonial-owner">
									<figure>
										<img src="/images/clients/client1.png" alt="client">
									</figure>

									<div>
										<h4 class="testimonial-title">john Smith</h4>
										<span>Proto Co Ceo</span>
									</div>
								</div><!-- End .testimonial-owner -->

								<blockquote>
									<p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model. text, and a search.</p>
								</blockquote>
							</div><!-- End .testimonial -->

							<div class="testimonial">
								<div class="testimonial-owner">
									<figure>
										<img src="/images/clients/client2.png" alt="client">
									</figure>

									<div>
										<h4 class="testimonial-title">Bob Smith</h4>
										<span>Proto Co Ceo</span>
									</div>
								</div><!-- End .testimonial-owner -->

								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mipsum dolor sit amet, consectetur elitad editors now use Lorem Ipsum as their default model. text, and a search.</p>
								</blockquote>
							</div><!-- End .testimonial -->
						</div><!-- End .testimonials-slider -->
					</div><!-- End .col-lg-6 -->
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="partners-container">
				<div class="container">
					<div class="partners-carousel owl-carousel owl-theme">
						<a href="#" class="partner">
							<img src="/images/logos/1.png" alt="logo">
						</a>
						<a href="#" class="partner">
							<img src="/images/logos/2.png" alt="logo">
						</a>
						<a href="#" class="partner">
							<img src="/images/logos/3.png" alt="logo">
						</a>
						<a href="#" class="partner">
							<img src="/images/logos/4.png" alt="logo">
						</a>
						<a href="#" class="partner">
							<img src="/images/logos/5.png" alt="logo">
						</a>
						<a href="#" class="partner">
							<img src="/images/logos/2.png" alt="logo">
						</a>
						<a href="#" class="partner">
							<img src="/images/logos/1.png" alt="logo">
						</a>
					</div><!-- End .partners-carousel -->
				</div><!-- End .container -->
			</div><!-- End .partners-container -->
		</main><!-- End .main -->