// Base
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  font: normal 400 #{$font-size}/1.4 $font-family;
  color: $body-text;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: $secondary-color;
  color: #fff;
}

::selection {
  background-color: $secondary-color;
  color: #fff;
}

p {
  margin-bottom: 1.5rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0 0 2.25rem;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid #dfdfdf;
  margin: 5.5rem auto 5.2rem;
  max-width: 1730px;
}

sub,
sup {
  position: relative;
  font-size: 70%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Animation for lazyload
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -ms-transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -ms-transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -ms-transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
