/* Sticky Header */
@keyframes fixedHeader {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform:translateY(0);
  }
}

.sticky-header {
  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index:1040;
    animation-name: fixedHeader;
    animation-duration: .4s;
    background-color: #fff;
       box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    padding-top: .7rem;
    padding-bottom: .7rem;

    .main-nav {
      width: auto;
      background-color: transparent;
    }

    .menu {
      > li {
        > a {
          padding-top: .8rem;
          padding-bottom: .8rem;
        }
      }
    }

    .logo {
      margin-right: 2.5rem;

      img {
        width: auto;
        max-height: 32px;
      }
    }

    .header-contact {
      display: none;
    }

    .header-search {
      .search-toggle {
        font-size: 1.4rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
      }
    }

    .cart-dropdown {
      .dropdown-toggle {
        padding-right: 1.6rem;
        &::before {
            font-size: 2.4rem;
        }

        .cart-count {
          right: .9rem;
        }
      }

      .dropdownmenu-wrapper::before {
        right: 17px;
      }

      .dropdownmenu-wrapper::after {
        right: 18px;
      }
    }
  }

  &.fixed-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    height: 38px;
    z-index: 1039;
    animation-name: fixedHeader;
    animation-duration: .4s;
    background-color: white;
       box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    overflow: hidden;

    .container {
      margin: 0 auto;
      padding-left: 1.5rem;
    }
  }
}

@include mq('lg', 'max') {
  .sticky-header.fixed-nav {
    top: 54px;
  }
}

@include mq('sm', 'max') {
  .sticky-header.fixed-nav {
    display: none;
  }
}
