<main class="main">
			<div class="home-top-container">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="banner banner-image">
								<a href="/shop/product-list">
									<img src="/images/banners/banner-1.jpg" alt="banner">
								</a>
							</div><!-- End .banner -->
						</div><!-- End .col-lg-5 -->

						<div class="col-lg-7 top-banners">
							<div class="row">
								<div class="col-sm-6">
									<div class="banner banner-image">
										<a href="/shop/product-list">
											<img src="/images/banners/banner-2.jpg" alt="banner">
										</a>
									</div><!-- End .banner -->

									<div class="banner banner-image">
										<a href="/shop/product-list">
											<img src="/images/banners/banner-3.jpg" alt="banner">
										</a>
									</div><!-- End .banner -->
								</div><!-- End .col-sm-6 -->
								<div class="col-sm-6">
									<div class="banner banner-image">
										<a href="/shop/product-list">
											<img src="/images/banners/banner-4.jpg" alt="banner">
										</a>
									</div><!-- End .banner -->
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->
						</div><!-- End .col-lg-7 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .home-top-container -->

			{{!-- Featured products partial section --}}
			{{> featured-products-partial}}

			<div class="mb-5"></div><!-- margin -->

			{{!-- Featured products partial section --}}
			{{> browse-categories-partial}}

			<div class="mb-5"></div><!-- margin -->

			{{!-- Featured products partial section --}}
			{{> just-arrived-partial}}			

			<div class="mb-5"></div><!-- margin -->

		</main><!-- End .main -->