<main class="main">
			<div class="banner banner-cat" style="background-image: url('/images/banners/banner-top-2.jpg');">
				<div class="banner-content container">
					<h2 class="banner-subtitle">check out over <span>200+</span></h2>
					<h1 class="banner-title">
						INCREDIBLE deals
					</h1>
					<a href="#" class="btn btn-primary">Shop Now</a>
				</div><!-- End .banner-content -->
			</div><!-- End .banner -->
            <div class="mb-3"></div><!-- margin -->
			<div class="container">
				<nav class="toolbox">
					<div class="toolbox-left">
						<div class="toolbox-item toolbox-sort">
							<div class="select-custom">
								<select name="orderby" class="form-control">
									<option value="menu_order" selected="selected">Default sorting</option>
									<option value="popularity">Sort by popularity</option>
									<option value="rating">Sort by average rating</option>
									<option value="date">Sort by newness</option>
									<option value="price">Sort by price: low to high</option>
									<option value="price-desc">Sort by price: high to low</option>
								</select>
							</div><!-- End .select-custom -->

							<a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending Direction</span></a>
						</div><!-- End .toolbox-item -->
					</div><!-- End .toolbox-left -->

					<div class="toolbox-item toolbox-show">
							<label>Showing 1–9 of 60 results</label>
						</div><!-- End .toolbox-item -->

					{{!-- <div class="layout-modes">
						<a href="category.html" class="layout-btn btn-grid active" title="Grid">
							<i class="icon-mode-grid"></i>
						</a>
						<a href="category-list.html" class="layout-btn btn-list" title="List">
							<i class="icon-mode-list"></i>
						</a>
					</div><!-- End .layout-modes --> --}}
				</nav>

				<div class="product-wrapper">
					<div class="row row-sm category-grid">
						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-1-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Headphone</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$28.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										

										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-2-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>

								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Computer Mouse</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$48.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-3-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Laptop</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$850.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-4-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Camera</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$299.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-5-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Shoes</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$79.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-6-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
									<span class="product-label label-hot">Hot</span>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Sunglasses</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$19.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-7-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
									<span class="product-label label-hot">Hot</span>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Jackets</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$299.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-8-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Hat</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$299.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-9-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Pants</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$59.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-10-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Shoes</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$63.00</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-11-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Necklace</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$13.99</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->

						<div class="col-6 col-md-4 col-xl-3">
							<div class="grid-product">
								<figure class="product-image-container">
									<a href="/shop/product" class="product-image">
										<img src="/images/products/product-14-white.jpg" alt="product">
									</a>
									<a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
									<span class="product-label label-hot">Hot</span>
								</figure>
								<div class="product-details">
									
									<h2 class="product-title">
										<a href="/shop/product">Socks</a>
									</h2>
									<div class="price-box">
										<span class="product-price">$4.99</span>
									</div><!-- End .price-box -->

									<div class="product-grid-action">
										
										
										<a href="/shop/product" class="paction add-cart" title="Add to Cart">
											<span>Add to Cart</span>
										</a>

										
									</div><!-- End .product-action -->
								</div><!-- End .product-details -->
							</div><!-- End .product -->
						</div><!-- End .col-xl-3 -->
					</div><!-- End .row -->
				</div>
				<nav class="toolbox toolbox-pagination">
					<div class="toolbox-item toolbox-show">
						<label>Showing 1–9 of 60 results</label>
					</div><!-- End .toolbox-item -->

					<ul class="pagination">
						<li class="page-item disabled">
							<a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><span>...</span></li>
						<li class="page-item"><a class="page-link" href="#">15</a></li>
						<li class="page-item">
							<a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
						</li>
					</ul>
				</nav>
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->