<main class="main">

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {{!-- Product title, review, price, brief description, colors (which will change to shoe size), and cart details --}}
                {{> product-single-details-partial }}

                {{!-- Product signle details tab that desicribe the product in text information, which includes
                description, tags, and reviews --}}
                {{> product-single-details-tab-partial }}
            </div><!-- End .col-lg-9 -->

            <div class="sidebar-overlay"></div>
            <div class="sidebar-toggle"><i class="icon-sliders"></i></div>
            <aside class="sidebar-product col-lg-3 padding-left-lg mobile-sidebar">
                <div class="sidebar-wrapper">
                    <div class="widget widget-brand">
                        <a href="#">
                            <img src="/images/product-brand.png" alt="brand name">
                        </a>
                    </div><!-- End .widget -->

                    <div class="widget widget-info">
                        <ul>
                            <li>
                                <i class="icon-shipping"></i>
                                <h4>FREE<br>SHIPPING</h4>
                            </li>
                            <li>
                                <i class="icon-us-dollar"></i>
                                <h4>100% MONEY<br>BACK GUARANTEE</h4>
                            </li>
                            <li>
                                <i class="icon-online-support"></i>
                                <h4>ONLINE<br>SUPPORT 24/7</h4>
                            </li>
                        </ul>
                    </div><!-- End .widget -->

                    <div class="widget widget-banner">
                        <div class="banner banner-image">
                            <a href="#">
                                <img src="/images/banners/banner-sidebar.jpg" alt="Banner Desc">
                            </a>
                        </div><!-- End .banner -->
                    </div><!-- End .widget -->



                </div>
            </aside><!-- End .col-md-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    {{!-- Featured products partial section --}}
    {{> featured-products-partial}}
    <div class="mb-5"></div><!-- margin -->


</main><!-- End .main -->