// Buttons
.btn {
  padding: 1rem 2rem;
  font-size: $button-font-size;
  line-height: 1.5;
  font-family: $second-font-family;
  letter-spacing:.1rem;
  text-transform: uppercase;
  border-radius: $border-radius;
  min-width: 124px;
  transition: all .3s;
}

.btn-sm {
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  min-width: 90px;
}

.btn-link {
  padding-top: 0;
  padding-bottom: 0;
  color: $secondary-color;
  text-transform: initial;
  letter-spacing: 0;
  font-size: 13px;
  min-width: 0;
  font-family: $font-family;

  &:hover,
  &:focus {
    color: $secondary-color;
    text-decoration: underline;
  }
}

.btn-md {
    padding: 1rem 2.4rem;
    text-shadow: none;
    font-size: 12px;
    letter-spacing: .025em;
}

.btn-primary {
  @include button-variant(#fff, $primary-color, $primary-color);
}

.btn-secondary {
  @include button-variant(#fff, $secondary-color, $secondary-color);
}

.btn-dark {
  @include button-variant(#fff, #03050a, #03050a, #fff, $primary-color,$primary-color,$primary-color,$primary-color);
}

.btn-outline {
  @include button-outline-variant(#ccc, $secondary-color, transparent, #ccc, $primary-color);
}

.btn-outline-secondary {
  @include button-outline-variant(#777, #fff, $primary-color, #ccc, $primary-color);
}

.btn-outline-dark {
  @include button-outline-variant(#05131c, #fff, $primary-color, #efefef, $primary-color);
}

.btn-social-login {
    display: flex;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: Oswald;
    background-color: $primary-color;

    span, i {
        color: #fff;
    }

    i {
        padding-right: 6px;
        margin-top: -1px;
    }
}

.btn-facebook {
    background: #3a589d;
}

.btn-gplus {
    background: #dd4e31;
}

.btn-twitter {
    background: #1aa9e1;
}

.owl-dots .owl-dot, .owl-nav .owl-prev, .owl-nav .owl-next {
  outline: none;
}

a:focus {
  outline: none;
}

@-webkit-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.mfp-container .mfp-preloader, .porto-loading-icon {
    content: '';
    display: inline-block;
    border: 2px solid transparent;
    width: 40px;
    height: 40px;
    -webkit-animation: spin .75s infinite linear;
    animation: spin .75s infinite linear;
    border-image: none;
    border-radius: 50%;
    z-index: 2;
  border-top-color: $primary-color;
  margin: 0 auto;
}

.mfp-container .mfp-preloader::before,
.porto-loading-icon::before {
    content: '';
    position: absolute;
    left: -2px;
  top: -2px;
  right: 0;
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
    border-top-color: inherit;
    -webkit-animation: spin 1.5s infinite ease;
    animation: spin 1.5s infinite ease;
}
