/* Member */
.member {
  margin-bottom: 2.8rem;
  background-color: #fff;
  transition: all 0.3s ease;
  
  img {
    display: block;
    width: 100%;
    height: auto;;
  }

  &:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  }
}

.member-title {
  padding: 3rem 0;
  font: 400 1.6rem/1 $second-font-family;
  text-align: center;
  text-transform: uppercase;
  color: #111;
  margin: 0;
}